.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    background-color: white;
}

.cartItem img {
    width: 200px;
}

.cartItem .description {
    width: 100%;
    font-size: 30px;
}

.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}


.checkout button {
    width: 150px;
    height: 50px;
    background-color: #90CA8F;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.checkout button:hover {
    background-color: #7aaa79;
}

.checkout p {
    font-size: 32px;
}

.cart {
    color: #FEFCCE;
    font-weight: bolder;
    background: #A2D2FF;
    margin: 100px 200px;
    border-radius: 20px;
    padding: 10px 5px;
}

.cartItems {
    color: #A2D2FF;
}

.cartItemsTitle { 
    color: white
}